<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% if (userstatus) {%>
        <form class="form-inline" action="/logout" method="POST">
          <label for="user" style="margin: 1em"
            >Logged In as <%= users[userstatus].email %></label
          >
          <!--input is parsed into a JS Object, where longURL is the key.-->

          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        <%} else {%>

    <a class="nav-item nav-link" href="/login">User Login</a>
    <a class="nav-item nav-link" href="/register">Register Now</a>


        <%} %>
      </div>
    </div>
  </nav>
</header>
